<h1>ESTADISTICAS</h1>

<h3>Número de preguntas: <%= nquizes %></h3>
<h3>Número de comentarios: <%= ncomments %></h3>
<h3>Número medio de comentarios por pregunta: <%= prom %></h3>
<h3>Número de preguntas sin comentarios: <%= nquizesscomment %></h3>
<h3>Número de preguntas con comentarios: <%= nquizcomment %></h3>